* { margin: 0; padding: 0 }

body {
  padding: 20px 15px;

  font-family: monospace;
  font-size: 12px;
  line-height: 20px;
  background: #fbfbfb;
}

body > .header {
  position: fixed;
  top: 0; right: 0; left: 0;
  height: 20px;
  z-index: 1;

  padding: 0 15px;

  font-weight: bold;
  background: rgba(0,0,0,0.5);
  color: white;
}

body > .header .controls {
  position: absolute;
  right: 9px;
  top: 0;
}

body > .header .controls b {
  background: rgba(255,255,255,0.3);
  padding: 6px 5px;
  font-weight: normal;
  font-size: 11px;
}

/* --- */

/* core row styles, happy with these */

.row {
  color: #888;
  border-bottom: 1px solid #eee;
  display: table;
  height: 10px;
  width: 100%;
}

.row > span {
  display: table-cell;
}

.row > span > .wrap {
  display: block;

  /* toggle these two guys to un-truncate */
  height: 20px;
  overflow: hidden;
}

.row:hover > span > .wrap {
  height: auto;
  overflow: none;
}

.row > .header {
  color: #aaa;
  width: 15%;
}

.row > .header > .wrap {
  padding: 3px;
}

.row > .separator {
  color: #ddd;
  width: 15px;
  text-align: center;
}

.row > .body > .wrap {
  white-space: pre-wrap;
}

.row > .timestamp {
  color: #aaa;
  width: 100px;
  text-align: right;
}

/* --- */

/* custom messsages */

/* these shouldn't all look the same but it will do for now */
.row > .header .test-suite,
.row > .header .test-start,
.row > .header .test-end,
.row.sql > .header > .wrap > span,
.row.request > .header > .wrap > span
 {
  font-family: sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  background: hsla(219, 100%, 66%, 0.2);
  color: #555;
  padding: 0 3px 0 3px;
  margin: 0 -3px;
  -webkit-border-radius: 2px;
}

.row > .header .probe {
  font-weight: bold;
  color: #555;
}

.row.boot {
  font-weight: bold;
  border-bottom: 1px solid #555;
}
