<html>
<head>
<meta charset="utf-8">
<title>Mprobe Console v0.0.1</title>
<style>
{{styles}}
</style>
<script>
{{message_rendering_script}}
</script>
</head>
<body>
<div class="header">
  <span class="title">
    MProbe Console v0.1
  </span>
  <div class="controls">
    <b id="follow-messages">⬇ follow messages</b>
  </div>
</div>
<script>boot()</script>
