* { margin: 0; padding: 0 }

body {
  padding: 20px 15px;

  font-family: monospace;
  font-size: 12px;
  line-height: 20px;
  background: #fbfbfb;
}

body > .header {
  position: fixed;
  top: 0; right: 0; left: 0;
  height: 20px;
  z-index: 1;

  padding: 0 15px;

  font-weight: bold;
  background: rgba(0,0,0,0.5);
  color: white;
}

body > .header .controls {
  position: absolute;
  right: 9px;
  top: 0;
}

body > .header .controls b {
  background: rgba(255,255,255,0.3);
  padding: 6px 5px;
  font-weight: normal;
  font-size: 11px;
}

/* --- */

/* core row styles, happy with these */

.row {
  color: #888;
  border-bottom: 1px solid #eee;
  display: table;
  height: 10px;
  width: 100%;
}

.row > span {
  display: table-cell;
}

.row > span > .wrap {
  display: block;

  /* toggle these two guys to un-truncate */
  height: 20px;
  overflow: hidden;
}

.row > .header {
  color: #aaa;
  width: 18%;
}

.row > .separator {
  color: #ddd;
  width: 15px;
  text-align: center;
}

.row > .body {

}

.row > .timestamp {
  color: #aaa;
  width: 100px;
  text-align: right;
}

/* --- */

/* not sure about this stuff */

/*
.row.highlight {
  background: #fff;
  color: #888;
}
*/

/*
.row.error > .header {
  color: rgba(117,16,18, 0.5);
  font-weight: bold;
}
*/
